<a href="https://colab.research.google.com/github/WOOROOKKIKI/test-repo/blob/main/Python_01_%EB%8D%B0%EC%9D%B4%ED%84%B0_%ED%83%80%EC%9E%85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('Hello World')

Hello World

In [ ]:
#변수 규칙
a = 1
b = 2
#2a=3 항상 변수는 문자로 시작해야 한다.
student_count = 100
print(a*b, student_count)

2 100

In [ ]:
# 대소문자를 구별한다.
friend = 1
Friend = 10
print(friend)

1

In [ ]:
#예약어는 사용할 수 없다.
for = 1

SyntaxError: ignored

In [ ]:
#숫자형
year = 2023
month = 4
print(year,month)

2023 4

In [ ]:
year = 'Test'

In [ ]:
print(str(3.14))
print(int(49))

3.14
49